<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<style>
    div.error {
        color: red
    }

    table {
        text-align: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
    }

</style>
<body>
    <div class="center">
    <form method="post">
    {% csrf_token %}
      <table>
        {% if user_check %}
            <tr><th colspan="2" style="font-size: 2em; padding: 10px">{{ user }}</th></tr>
            <tr><td><br>
                <button name="logout" type="submit">로그아웃</button>
                <button type="button" onclick="location.href='/users/edit'">정보</button>
            </td></tr>
        {% else %}
            <tr><th colspan="2" style="font-size: 2em">로그인</th></tr>
            <tr><td>아이디</td><td><input name="id" type="text"></td></tr>
            <tr><td>비밀번호</td><td><input name="password" type="password"></td></tr>
            {% if messages %}
            {% for message in messages %}
            <tr><td colspan="2">
                <div class="{{ message.tags }}">{{ message.message }}</div>
            </td></tr>
            {% endfor %}
            {% endif %}
            <tr>
                <th colspan="2"><br>
                <button type="submit">로그인</button>
                <button type="button" onclick="location.href='/users/singup/'">회원가입</button>
                </th>
            </tr>
        {% endif %}
      </table>
    </form>
    </div>
</body>
</html>